div.a{
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
}    
div.b   {
    position: absolute;
    left: 0;
    top: 0;
        
    background-image: url("images\ \(5\).jpg");  
    background-repeat: no-repeat;
    width: 70%;
    height: 530px;
}

 
    





